.photo
{
    width: 100%;
    display: flex;
    justify-content: space-around;
flex-wrap: wrap;
padding: 30px;
}

.OUR-IT-SERVICES p{
    color: blue;
}
.ourCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

   

